@use "../app.component";
@use '../../styles';

.result-p {
  text-transform: initial;
  font-size: 1.5rem;
  opacity: 0;

  &.fade-in {
      animation: fade-in 1.0s forwards;
  }

  &.hidden {
    animation: none;
    user-select: none;
  }
}

.underweight {
  color: blue;
}

.normal-weight {
  color: styles.$secondary-color;
}

.overweight {
  color: #c68100;
}

.obesity {
  color: red;
}

span {
  font-weight: 900;
}
