@use "../app.component";
@use '../../styles';

app-bmi-meter {
  width: 26rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

.result-p {
  text-transform: initial;
  font-size: 1.5rem;
  opacity: 0;
  margin: 0.7rem 0;

  &.fade-in {
      animation: fade-in 1.0s 1.2s forwards;
  }

  &.hidden {
    animation: none;
    user-select: none;
  }
}

.underweight {
  color: blue;
}

.normal-weight {
  color: styles.$secondary-color;
}

.overweight {
  color: styles.$overweight-color;
}

.obesity {
  color: red;
}

.bold {
  font-weight: 900;
}
