@use '../../../styles';
@use '../../app.component';

$color: black;
$meter-height: 3rem;

.bmi-meter-numeric-axis {
  .bmi-meter-numeric-tick {
    bottom: 5px;

    &::after {
      content: ' ';
      vertical-align: bottom;
      height: 7px;
      border-left: 1px solid $color;
      bottom: -7px;
      position: absolute;
    }
  }
}

.bmi-meter-class-tick {
  top: 5px;
}

.bmi-meter-numeric-axis, .bmi-meter-class-axis {
  width: 100%;
  position: relative;
  height: 10px;

  .bmi-meter-numeric-tick, .bmi-meter-class-tick {
    @include app.control;

    position: absolute;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: -50%;
  }
}

.bmi-meter-bg {
  width: 100%;
  height: $meter-height;
  background: styles.$light-grey;
  border-radius: 10px;
  border: 2px solid white;
  position: relative;
  z-index: -10;

  .bmi-meter-container {
    height: 100%;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 0;

    .bmi-meter {
      width: 26rem;
      height: 100%;
      border-radius: 10px 0 0 10px;
      z-index: -2;
    }
  }
}


