<div class="app-root">
  <header>
    <h1>BMI Calculator</h1>
    <h2>The naked truth</h2>
  </header>
  <main>
    <div id="controls">
      <div id="input-container">
        <app-input [labelText]="lengthUnit" [placeholder]="lengthPlaceholder" [defaultValue]="defaultLengthValue" (newSubmitEvent)="onButtonClick()"
                   (newChangeEvent)="onLengthChange($event)"></app-input>
        <app-input [labelText]="weightUnit" [placeholder]="weightPlaceholder" [defaultValue]="defaultHeightValue" (newSubmitEvent)="onButtonClick()"
                   (newChangeEvent)="onWeightChange($event)"></app-input>
      </div>
      <app-compute-btn [bmi]="bmi" [bmiEverChanged]="bmiEverChanged" [showResultSection]="showResultSection"
                       (newClickEvent)="onButtonClick()"></app-compute-btn>
    </div>
    <app-result-section [bmi]="bmi" [length]="length" [visibilityClass]="getVisibilityClass()">
    </app-result-section>
  </main>
  <footer>
    <a href="https://github.com/antonjolsson/angular-bmi-calc">
      <img [ngSrc]="'assets/github-mark.svg'" height="35" width="36" alt="GitHub repo link"><span>View source code</span>
    </a>
  </footer>
</div>

