@use "../styles";

$section-gap: 3rem;
$section-gap-mobile: 4.0rem;

@mixin control {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

p {
  @include control;
  font-size: 1.2rem;
  color: styles.$dark-text;
}

.app-root {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $section-gap;
  background: linear-gradient(#eee, #a1a1a1);
  height: 100dvh;
  width: 100%;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;

    * {
      margin: 0;
    }

    h1 {
      font-family: Orbitron, sans-serif;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: styles.$dark-text;

      @media (width <= 600px) {
        font-size: 3.3rem;
        white-space: break-spaces;
        width: min-content;
        text-align: center;
      }
    }

    h2 {
      font-family: Arizonia, cursive;
      font-size: 3.0rem;
      color: styles.$primary-color;
      text-shadow: 0 0 5px #ffffff;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $section-gap;
    max-width: 30rem;

    #controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      #input-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 2rem;

        app-input {
          height: 100%;
        }
      }
    }

    app-result-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.visible {
        visibility: visible;
      }

      &.hidden {
        visibility: hidden;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 1rem;

    a {
      &:hover img {
          opacity: 0.75;
      }

      &:active img {
          opacity: 1;
      }

      img {
        scale: 1;
        opacity: 0.5;
        transition: all 0.2s;
      }
    }
  }
}
