<div class="app-root">
  <header>
    <h1>BMI Calculator</h1>
    <h2>The naked truth</h2>
  </header>
  <main>
    <div id="input-container">
      <app-input [labelText]="lengthUnit" [placeholder]="lengthPlaceholder" (newSubmitEvent)="onButtonClick()"
                 (newChangeEvent)="onLengthChange($event)"></app-input>
      <app-input [labelText]="weightUnit" [placeholder]="weightPlaceholder" (newSubmitEvent)="onButtonClick()"
                 (newChangeEvent)="onWeightChange($event)"></app-input>
    </div>
    <app-compute-btn [bmi]="bmi" [bmiEverChanged]="bmiEverChanged" [showResultSection]="showResultSection"
                     (newClickEvent)="onButtonClick()"></app-compute-btn>
    <app-result-section [bmi]="bmi" [length]="length" [visibilityClass]="getVisibilityClass()">
    </app-result-section>
  </main>
</div>

