@use "../../styles";
@use "../app.component";

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  height: 100%;

  @extend p;

  input {
    width: 10ch;
    height: 100%;
    font-size: 1.2rem;
    color: styles.$dark-text;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;

    &:focus {
      outline: styles.$secondary-color solid 2px;
    }

    @include app.control;

    &::placeholder {
      color: styles.$light-grey;
    }

    @media (width <= 600px) {
      width: 8ch;
      height: 2.67rem;
      font-size: 1.6rem;
    }
  }
}
